@mixin noselect {
  -webkit-touch-callout: none !important; // Safari iOS
  -webkit-user-select: none !important; // Safari
  -khtml-user-select: none !important; // Konqueror HTML
  -moz-user-select: none !important; // Firefox
  -ms-user-select: none !important; // Internet Explorer/Edge
  user-select: none !important; // Non-prefixed version, currently supported by Chrome and Opera
  cursor: default;
}
