html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  @apply bg-white text-black dark:(bg-zinc-900 text-zinc-200);
}

.text-dim {
  @apply text-zinc-500 dark:text-zinc-400;
}

.link {
  @apply font-semibold underline decoration-1 underline-offset-2 decoration-blue-400;
}

.code-inline {
  @apply font-mono px-1.5 py-0.5 bg-zinc-100 dark:bg-zinc-800 rounded;
}

.btn {
  @apply inline-flex items-center py-2 px-4 font-bold rounded cursor-pointer;
}
.btn-sm {
  @extend .btn;
  @apply py-1.5 px-3 text-sm;
}
.btn-xs {
  @extend .btn;
  @apply py-1 px-2 text-xs;
}
.btn-default {
  @apply bg-zinc-800 hover:bg-zinc-900 text-zinc-100 hover:text-white
    dark:( bg-white text-zinc-900 hover:text-black);
}
.btn-base {
  @apply dark:bg-zinc-900;
}
.btn-outline {
  @extend .btn;
  @apply bg-transparent border border-zinc-300 hover:bg-zinc-100
    dark:(bg-transparent border-zinc-700 hover:bg-zinc-800);
}


/**
 * Animations
 */

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.animate-spin {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
