html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;

  @media (min-width: 640px) {
    overscroll-behavior-y: none;
  }
}

h1 {
  @apply font-black;
}

a {
  @apply text-base decoration-none;
}
a:visited {
  @apply text-base;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}

p {
  @apply m-0;
}

.no-scrollbar {
  @media (max-width: 639px) {
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* IE and Edge */
    &::-webkit-scrollbar {
      /* Chrome, Safari, Opera */
      display: none !important;
      -webkit-appearance: none !important;
    }
  }
}

/**
 * Animations
 */
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.animate-spin {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
